<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="comodojo-cache-travis">
            <file>tests/Cache/ApcCacheTest.php</file>
            <file>tests/Cache/DatabaseCacheTest.php</file>
            <file>tests/Cache/FileCacheTest.php</file>
            <file>tests/Cache/MemcachedCacheTest.php</file>
            <file>tests/Cache/PhpRedisCacheTest.php</file>
            <file>tests/Cache/CacheManagerPickFirstTest.php</file>
            <file>tests/Cache/CacheManagerPickLastTest.php</file>
            <file>tests/Cache/CacheManagerPickRandomTest.php</file>
            <file>tests/Cache/CacheManagerPickAllTest.php</file>
            <file>tests/Cache/CacheManagerPickByWeightTest.php</file>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="comodojo-cache-xcache">
            <file>tests/Cache/XCacheCacheTest.php</file>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="comodojo-cache-apc">
            <file>tests/Cache/ApcCacheTest.php</file>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="comodojo-cache-all">
            <directory>tests/Cache/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>

