<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="comodojo-cache-manager">
            <file>tests/Comodojo/Cache/Manager/ManagerAsProviderTest.php</file>
            <file>tests/Comodojo/Cache/Manager/ManagerPickFirstTest.php</file>
            <file>tests/Comodojo/Cache/Manager/ManagerPickLastTest.php</file>
            <file>tests/Comodojo/Cache/Manager/ManagerPickTraverseTest.php</file>
            <file>tests/Comodojo/Cache/Manager/ManagerPickRandomTest.php</file>
            <file>tests/Comodojo/Cache/Manager/ManagerPickAllTest.php</file>
        </testsuite>
        <testsuite name="comodojo-simplecache-manager">
            <file>tests/Comodojo/SimpleCache/Manager/ManagerAsProviderTest.php</file>
            <file>tests/Comodojo/SimpleCache/Manager/ManagerPickFirstTest.php</file>
            <file>tests/Comodojo/SimpleCache/Manager/ManagerPickLastTest.php</file>
            <file>tests/Comodojo/SimpleCache/Manager/ManagerPickTraverseTest.php</file>
            <file>tests/Comodojo/SimpleCache/Manager/ManagerPickRandomTest.php</file>
            <file>tests/Comodojo/SimpleCache/Manager/ManagerPickAllTest.php</file>
        </testsuite>
        <testsuite name="comodojo-cache-providers">
            <file>tests/Comodojo/Cache/ItemTest.php</file>
            <file>tests/Comodojo/Cache/Providers/MemoryTest.php</file>
            <file>tests/Comodojo/Cache/Providers/VoidTest.php</file>
            <file>tests/Comodojo/Cache/Providers/ApcuTest.php</file>
            <file>tests/Comodojo/Cache/Providers/ApcTest.php</file>
            <file>tests/Comodojo/Cache/Providers/FilesystemTest.php</file>
            <file>tests/Comodojo/Cache/Providers/MemcachedTest.php</file>
            <file>tests/Comodojo/Cache/Providers/PhpRedisTest.php</file>
        </testsuite>
        <testsuite name="comodojo-simplecache-providers">
            <file>tests/Comodojo/SimpleCache/Providers/MemoryTest.php</file>
            <file>tests/Comodojo/SimpleCache/Providers/VoidTest.php</file>
            <file>tests/Comodojo/SimpleCache/Providers/ApcuTest.php</file>
            <file>tests/Comodojo/SimpleCache/Providers/ApcTest.php</file>
            <file>tests/Comodojo/SimpleCache/Providers/FilesystemTest.php</file>
            <file>tests/Comodojo/SimpleCache/Providers/MemcachedTest.php</file>
            <file>tests/Comodojo/SimpleCache/Providers/PhpRedisTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Comodojo/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
